.displayWeather{
    display: grid;
}

body{
    background-color: rgb(229, 236, 240);
}

.searchBar{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 9;
    width: 16em;
    /* border: 1px solid black; */
}

.dailyWeather{
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 1; 
    border: 1px solid black;
    margin-right: 25em;
    margin-left: 10em;
    width: 90em;
}

.dailyWeatherHeader > h1{
    display: inline-block;
}

/* .displayWeatherHeader > img{
    display: inline-block;
} */

header{
    text-align: center;
    background-color: aqua;
}

textarea{
    width: 100px;
}

input{
    width: 20em;
    margin-bottom: 2em;
    height: 2.7em;
}

button{
    /* margin-left: 0.5em; */
    width: 20em;
    background-color: rgb(0, 110, 255);
}

.forecastTitle{
    margin-left: 5em;
}

.fiveDayForecast{
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 3; 
    grid-row-end: 6;
    /* border: 1px solid black; */
    height: 20em;
    width: 98em;
}

.fiveDayForecast > .block{
    display: inline-flex;
}

.block {
    border: 1px solid black;
    width: 11em;
    margin-left: 8em;
    height: 15em;
}

.block > p{
    display: block;
}

.dayOne{
    list-style-type: none;
}

.dayTwo{
    list-style-type: none;
}

.dayThree{
    list-style-type: none;
}

.dayFour{
    list-style-type: none;
}

.dayFive{
    list-style-type: none;
}